{% load static %}

<!DOCTYPE html>
<html lang="pl">
  <head>
    <title>E-learn</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'e_learn/style.css' %}">
  </head>
  <body>
    <header>
      <h2><p>Portal e-learningowy</p></h2>
      <div>
        {% if user.is_authenticated %}
        <a href="{% url 'account' %}">
          Twoje konto
        </a>
        {% else %}
        <a href="{% url 'signin' %}">
          Logowanie
        </a>
        {% endif %}
      </div>
    </header>
    <main>
      {%for course in courses%}
        <div class="course">
          {% if course.image %}
            <img src="{{course.image.url}}" alt="{{course.title}}">
          {% endif %}
          <a href="{% url 'course_detail' course.slug %}">
            <h3>{{ course.title }}</h3>
          </a>
          <p>{{course.desc}}</p>
        </div>
      {% empty %}
        <p>Przepraszam, ale nie ma na razie dostępnych kursów.</p>
      {% endfor %}
    </main>
    <footer>
        <p>rtrt</p>
    </footer>
  </body>
</html>