{% load static %}

<!DOCTYPE html>
<html lang="pl">
  <head>
    <title>E-learn</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'e_learn/style.css' %}">
  </head>
  <body>
    <header>
      <div class="home"></div>
      <h2><p>Portal e-learningowy</p></h2>
      <div class="login">
        {% if user.is_authenticated %}
        <a href="{% url 'account' %}" title="Twoje konto">
          <img src="{{user.avatar.url}}" alt="{{user.name}}">
        </a>
        {% else %}
        <a href="{% url 'signin' %}" title="Zaloguj się">
          <img src="{% static 'e_learn/user.png' %}" alt="Zaloguj się">
        </a>
        {% endif %}
      </div>
    </header>
    <main>
      {%for mode in modes%}
        <div class="course">
          <a href="{{mode.url}}" title="{{mode.name}}">
            <img src="{{mode.image.url}}" alt="{{mode.name}}">
          </a>
          <p>{{mode.name}}</p>
        </div>
      {% empty %}
        <p>Przepraszamy, napotkaliśmy jakiś problem.</p>
      {% endfor %}
    </main>
    <footer>
        <p>Strona wykonana przez - Dawid Kasperczyk</p>
    </footer>
  </body>
</html>