{% load static %}

<!DOCTYPE html>
<html lang="pl">
  <head>
    <title>E-learn</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'e_learn/style.css' %}">
  </head>
  <body>
    <header>
      <div class="login"></div>
      <h2><p class="header">Portal e-learningowy</p></h2>
      <div class="login">
        <a href="{% url 'signin' %}">
          Logowanie
        </a>
      </div>
    </header>
    <main>
      {%for mode in modes%}
        <div class="course">
          <a href="{{mode.url}}">
            <img src="{{mode.image}}" alt="{{mode.name}}">
          </a>
        </div>
      {% empty %}
        <p>Przepraszamy, napotkaliśmy jakiś problem.</p>
      {% endfor %}
    </main>
    <footer>
        <p>Strona wykonana przez - Dawid Kasperczyk</p>
    </footer>
  </body>
</html>