{% load static %}

<!DOCTYPE html>
<html lang="pl">
  <head>
    <title>E-learn</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'coureses/style.css' %}">
  </head>
  <body>
    <header>
        <a href="{% url 'home' %}">
            Wróć do kursów 
        </a>
      <h2><p>Portal e-learningowy</p></h2>
      <div>
        <a href="">
          Logowanie
        </a>
      </div>
    </header>
    <main>
        <h1>{{ course.title }}</h1>
      {%for module in modules%}
        <div class="topic">
            <a href="{% url 'topic_detail' module.pk %}">
            <h3>{{ module.title }}</h3>
          </a>
        </div>
      {% empty %}
        <p>Brak tematów.</p>
      {% endfor %}
    </main>
    <footer>
        <p>rtrt</p>
    </footer>
  </body>
</html>