{% load static %}

<!DOCTYPE html>
<html lang="pl">
  <head>
    <title>E-learn</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'coureses/style.css' %}">
  </head>
  <body>
    <header>
      <div class="jump">
        <a href="{% url 'courses' %}" title="Wróć na stronę główną">
          <img src="{% static 'coureses/back.png' %}" alt="Strona główna">
        </a>
      </div>
      <h2><p>Portal e-learningowy</p></h2>
      <div class="login">
        <a href="{% url 'account' %}" title="Twoje konto">
        {% if user.avatar %}
          <img src="{{user.avatar.url}}" alt="{{user.name}}">
          {% else %}
          <img src="{% static 'coureses/default_avatar.png' %}" alt="">
          {% endif %}
        </a>
      </div>
    </header>
    <main>
        <h1>{{ module.title }}</h1>
        {{ module.content|safe }}
      {%for topic in topics%}
        <div class="module">
          <a href="{% url 'topic_detail' module_pk=module.pk topic_pk=topic.pk%}">
            <i>
              <p>Temat: {{topic.title}}</p>
            </i>
          </a>
        </div>
      {% empty %}
        <p>Brak tematów.</p>
      {% endfor %}
    </main>
    <footer>
        <p>Strona wykonana przez - Dawid Kasperczyk</p>
    </footer>
  </body>
</html>