{% load static %}

<!DOCTYPE html>
<html lang="pl">
  <head>
    <!-- <title>E-learn</title> -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'coureses/style.css' %}">
  </head>
  <body>
    <header>
        <a href="{% url 'module_detail' course.slug module.pk %}">
            Wróć do modułów
        </a>
      <h2><p>Portal e-learningowy</p></h2>
      <div>
        <a href="">
          Logowanie
        </a>
      </div>
    </header>
    <main>
      <h1>{{ topics.title }}</h1>
      <div class="topic">
        {{ topics.content|safe }}
      </div>
      {%for quest in quests%}
        <div class="topic">
          <form action="" method="post">
            {% csrf_token %}
          {% for question in quest.questions.all %}
            <p>{{question.content|safe}}</p>
            <div class="ans">
            {% for answer in question.answers.all %}
              <p><input type="checkbox" name="answers" id="" value="{{answer.id}}">{{answer.content|safe}}</p>
            {% empty %}
              <p>BŁĄD - brakuje odpowiedzi</p>
            {% endfor %}
            </div>
          {% empty %}
            <p>BŁĄD - brakuje pytań</p>
          {% endfor %}
            <input type="submit" value="Sprawdź">
          </form>
        </div>
      {% empty %}
        <p>Brak zestawu pytań.</p>
      {% endfor %}
      {% if score is not None %}
      <div class="result">
          <h2>Twój wynik</h2>
          <p>{{ score }} / {{ max_score }}</p>
      </div>
      {% endif %}
    </main>
    <footer>
        <p>Strona wykonana przez - Dawid Kasperczyk</p>
    </footer>
  </body>
</html>