{% load static %}

<!DOCTYPE html>
<html lang="pl">
  <head>
    <!-- <title>E-learn</title> -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'coureses/style.css' %}">
  </head>
  <body>
    <header>
      <div class="jump">
        <a href="{% url 'module_detail' course.slug module.pk %}" title="Wróć na stronę główną">
          <img src="{% static 'coureses/back.png' %}" alt="Strona główna">
        </a>
      </div>
      <h2><p>Portal e-learningowy</p></h2>
      <div class="login">
        <a href="{% url 'account' %}" title="Twoje konto">
          <img src="{{user.avatar.url}}" alt="{{user.name}}">
        </a>
      </div>
    </header>
    <main>
      <h1>{{ topics.title }}</h1>
      <div class="topic">
        {{ topics.content|safe }}
      </div>
      <button type="button" onclick="zadania()">Wyświetl zadania</button>
      {% if score is not None %}
      <div class="result">
          <div><h2>Twój wynik</h2></div>
          <div><p>{{ score }} / {{ max_score }}</p></div>
          <div><p>Czas trwania: {{time}} s</p></div>
          <div><p>{{result}}</p></div>
      </div>
      {% endif %}
      {%for quest in quests%}
        <div class="task">
          <form action="" method="post">
            {% csrf_token %}
            <input type="hidden" name="time" id="time">
          {% for question in quest.questions.all %}
            <p>{{question.content|safe}}</p>
            <div class="ans">
            {% for answer in question.answers.all %}
              <p><input type="checkbox" name="answers" value="{{answer.id}}">{{answer.content|safe}}</p>
            {% empty %}
              <p>BŁĄD - brakuje odpowiedzi</p>
            {% endfor %}
            </div>
          {% empty %}
            <p>BŁĄD - brakuje pytań</p>
          {% endfor %}
            <input type="submit" value="Sprawdź">
          </form>
        </div>
      {% empty %}
        <p>Brak zestawu pytań.</p>
      {% endfor %}
    </main>
    <footer>
        <p>Strona wykonana przez - Dawid Kasperczyk</p>
    </footer>
    <script src="{% static 'coureses/script.js' %}"></script>
  </body>
</html>