html{
    /* margin: 0; */
    /* padding: 0; */
}
body{
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 5fr 10vh;
    grid-template-areas: 
                        "head"
                        "middl"
                        "foot";
}
header{
    display: flex;
    flex-direction: row;
    background: gray;
    color: white;
    grid-area: head;
    justify-content: space-between;
}
h2{
    margin: 0;
    width: calc(100vw-10vh);
}
footer{
    background: green;
    grid-area: foot;
}
main{
    grid-area: middl;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.course{
    border: 3px solid black;
    margin: 5px;
    width: 250px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
img{
    height: 150px;
}
.home{
    width: 10vh;
}
.login{
    background: green;
}
.login a img{
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
}