body{
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 5fr 10vh;
    grid-template-areas: 
                        "head"
                        "middl"
                        "foot";
}
header{
    display: flex;
    flex-direction: row;
    background: gray;
    color: white;
    grid-area: head;
    justify-content: space-between;
}
h2{
    margin: 0;
    width: calc(100vw-10vh);
}
.jump a img{
    width: 10vh;
    height: 10vh;
}
.login{
    background: green;
}
.login a img{
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
}
main{
    grid-area: middl;
    display: grid;
    min-height: 100vh;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 80%;
    grid-template-areas: 
                        "title title"
                        "course quiz";
}
h1{
    grid-area: title;
    display: flex;
    justify-content: center;
    text-align: center;
}
.res_course{
    grid-area: course;
}
.res_quiz{
    grid-area: quiz;
}
.courses{
    margin: 5px;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.course{
    border: 3px solid black;
    margin: 5px;
    box-sizing: border-box;
    padding: 5px;
}
.course img{
    width: 150px;
}
.topic{
    width: 90%;
    margin-left: 20px;
    margin-right: 20px;
}
.task{
    width: 90%;
    margin-left: 20px;
    margin-right: 20px;
    display: none;
}
footer{
    background: green;
    grid-area: foot;
}
ol {
	list-style:decimal
}
.ans{
    display: flex;
    align-items: center;
    gap: 20px;
}
.result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
}
input[type=submit], button{
    margin: 20px;
}