{% load static %}

<!DOCTYPE html>
<html lang="pl">
  <head>
    <!-- <title>E-learn</title> -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'coureses/style.css' %}">
  </head>
  <body>
    <header>
        <a href="{% url 'home' %}">
            Wróć do tematów
        </a>
      <h2><p>Portal e-learningowy</p></h2>
      <div>
        <a href="">
          Logowanie
        </a>
      </div>
    </header>
    <main>
        <h1>Quizy</h1>
        <p>{{ quiz.title }}</p>
        {%for quiz in quizes%}
        <div class="task">
            <a href="{% url 'quiz_detail' quiz.pk %}">{{quiz.title}}</a>
        {% empty %}
            <p>BŁĄD</p>
        {% endfor %}
            </div>
    </main>
    <footer>
        <p>rtrt</p>
    </footer>
  </body>
</html>