{% load static %}

<!DOCTYPE html>
<html lang="pl">
  <head>
    <!-- <title>E-learn</title> -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'quizes/style.css' %}">
  </head>
  <body>
    <header>
      <div class="jump">
        <a href="{% url 'quizes' %}" title="Wróć do quizów">
          <img src="{% static 'quizes/back.png' %}" alt="Quizy">
        </a>
        </div>
      <h2><p>Portal e-learningowy</p></h2>
      <div class="login">
        <a href="{% url 'account' %}" title="Twoje konto">
          <img src="{{user.avatar.url}}" alt="{{user.name}}">
        </a>
      </div>
    </header>
    <main>
      <h1>{{ quiz.title }}</h1>
      {% if score is not None %}
      <div class="result">
        <div><h2>Wynik quizu</h2></div>
        <div><p>{{ score }} / {{ max_score }}</p></div>
          <div><p>Czas trwania: {{time}} s</p></div>
          <div><p>{{result}}</p></div>
      </div>
      {% endif %}
      <div class="task">
        <form action="" method="post">
          <input type="hidden" id="time" name="time" value="1">
          {% csrf_token %}
          {%for task in tasks%}
          <p>{{task.context|safe}}</p>
          <div class="answer">
            {%for answer in task.quizAnswers.all %}
            <input type="checkbox" name="answers" value="{{answer.id}}">{{answer.option|safe}}
            {% empty %}
            <p>BŁĄD - brak odp</p>
            {% endfor %}
          </div>
          {% empty %}
          <p>BŁĄD - brak zadań</p>
          {% endfor %}
          <input type="submit" value="Wyślij rozwiązanie">
        </form>
      </div>
    </main>
    <footer>
      <p>Strona wykonana przez - Dawid Kasperczyk</p>
    </footer>
    <script src="{% static 'quizes/script.js' %}"></script>
  </body>
</html>