body{
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 5fr 10vh;
    grid-template-areas: 
                        "head"
                        "middl"
                        "foot";
}
header{
    display: flex;
    flex-direction: row;
    background: gray;
    color: white;
    grid-area: head;
    justify-content: space-between;
}
h2, p.header{
    margin: 0;
    width: calc(100vw-10vh);
}
.jump a img{
    width: 10vh;
    height: 10vh;
}
.login{
    background: green;
}
.login a img{
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
}
main{
    grid-area: middl;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer{
    background: green;
    grid-area: foot;
}
img{
    height: 150px;
}
.task{
    margin-bottom: 20px;
    margin-top: 20px;
    width: 90%;
    margin-left: 20px;
    margin-right: 20px;
}
.list{
    margin-bottom: 20px;
    margin-top: 20px;
}
.answer{
    display: flex;
    align-items: center;
    gap: 20px;
}